@use '../custom' as *;
.follow-section {
    margin-top: 100px;
  
    .follow-band {
        background-color: $white;
        padding: 25px 50px;

    }
  

    .follow-title {
        color: $primary;
    }
}
.fllow {
    
    max-width: 100%;
    width: 19.65%;
    object-fit: cover;
}

