@use '../custom' as *;

.intro-section {
    position: relative;
    margin-top: -80px;
    // padding-top: 100px;
    
    .left-img {
        padding: 0;
    }
    .midlle-img {
        margin-top: 50px;
    }
    .nail-img {
        margin-top: 100px;
        max-width: 70%; /* Adjust as needed */
        object-fit: cover;
 
    }
    .right-img {
        padding: 0;
        height: auto;
        
       
    }

    

  
}

.welcome-filed {
    position: absolute;
    height: auto;
    bottom: 0;
    width: 100%;
    background-color: $primary;
}

@include media-breakpoint-down(md) {
    .left-img {
       
        .nail-img {
            max-width: 50%;
            margin-bottom: 50px;
            margin-top: 50px;
        }

        // .welcome-filed {
        //    align-items: center;
        // }
    }
    
 }