@use '../custom' as *;

.intro-section {
    position: relative;
    margin-top: -80px;
    // padding-top: 100px;
    
    .left-img {
        padding: 0;
    }
    .midlle-img {
        margin-top: 50px;
    }
    .nail-img {
        margin-top: 130px;
        max-width: 60%; /* Adjust as needed */
        object-fit: cover;
 
    }
    .right-img {
        padding: 0;
    }
}

.welcome-filed {
    position: absolute;
    height: auto;
    bottom: 0;
    width: 100%;
    background-color: $primary;
}