@use '../custom' as *;

.polishes-section {
    background-color: $primary;
    

    .polishes-imgs {
        margin: 10px 30px;
    }
     
    .polishe-img {
        margin-left: -25px;
    }
    
    .polishe-title {
        font-size: 0.75rem;
        font-weight: 600;
    }

    .polishe-para {
        font-size: 0.75rem;
    }
}