@use '../custom' as *;

.navbar {
    position: relative;
   z-index: 1000;
   height: 80px;
//    .navbar nav {
//     padding-right: 3.1875rem;
// }

.nav-link {
    color: $white;
    font-size: 1rem;
}

// .nav-center {
//     margin-left: 410px !important;
// }


}




