@use '../custom' as *;

.navbar {
  position: relative;
   z-index: 1000;
   height: 80px;

   .nav-link {
    color: $white;
    font-size: 1rem;
    text-transform: uppercase;
    &:hover {
        color: $primary;
    }
}


   @include media-breakpoint-down(lg) {
      .navbar-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        background-color: $primary;
      }


.navbar-toggler {
    border: non !important;
    box-shadow: none !important;
    outline: none !important;

    .navbar-toggler-icon {
        filter: invert(1);
    }   

    .nav-link {
        font-size: 1.5rem;
        margin: 10px 0;
    }
}

   }
//    .navbar nav {
//     padding-right: 3.1875rem;
// }
// @include media-breakpoint-down(lg) {
//     .navbar-nav {
//        display: flex;
//        flex-direction: column;
//        justify-content: center;
//        align-items: center;
//        position: absolute;
//        top: 0;
//        left: 0;
//        width: 50%;
//        height: 100vh;
//        z-index: 999;
//        background-color: red;
//        transform: translateX(100%);
//        transition: transform 0.3s ease-in-out;
//     }

//     .navbar-nav.show {
//         transform: translateX(0);
//     }
    
//     ul {
//         text-align: center;
//     }
  

   
//  }





// .nav-center {
//     margin-left: 410px !important;
// }



}
  




