@use '../custom' as *;



section {
    margin-top: 120px;
  
    .our-story-section {
      padding: 0 100px;
    }

    .desc {
        color: $gray-600;
        font-size: 0.75rem;
    }

    .desc-para {
        color: $gray-600;
        font-size: 0.75rem;
        width: 100%;
    }
}