@use '../custom' as *;

%section-title {
    color: $primary;
    padding-bottom: 15px;
    margin-top: 10px;
    text-transform: uppercase;
}

%desc-color {
    color: $gray-600;
    font-size: 0.75rem;
}

.desc {
    @extend %desc-color;
  }

  

  .desc-product{
    @extend %desc-color;
    width: 200px;
    max-width: 100%;
  }
  
  .desc-para {
      @extend %desc-color;
      
  }




    .our-story-section {
    padding: 0 100px;
    margin-top: 100px;
    //   display: flex;
    //   flex-direction: column;
    //   align-items: center;
    //   text-align: center;
    
    }

.story {
    margin-top: 60px;
  
  
}

.section-title {
    @extend %section-title
}

@include media-breakpoint-down(md) {
    %section-title {
        margin-top: 0px;
    }
    .product {
        margin-bottom: 40px;
    }
}

