@use '../custom' as *;



section {
    margin-top: 120px;
  
    .our-story-section {
      padding: 0 100px;
    //   display: flex;
    //   flex-direction: column;
    //   align-items: center;
    //   text-align: center;
    }
 
    // .par-row {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     text-align: center;
    // }
  
    

    .desc {
        color: $gray-600;
        font-size: 0.75rem;
    }

    .desc-para {
        color: $gray-600;
        font-size: 0.75rem;
        width: 200px;
        max-width: 100%;
      
        

    }
}