@use '../custom' as *;

.btn-nav {
    border: 1px solid $white;
    border-radius: 50px;
    padding: 0.25rem 1rem;
    color: $primary;
}

.primary-btn {
    background-color: $primary;
    font-size: 0.75rem;
    border-radius: 50px;
    color: $white;
    padding: 0.65rem 2rem;
    margin-top: 1rem;

    &:hover {
        background-color: lighten($color: $primary, $amount: 20%);
        color: $primary;
    }
}



@include media-breakpoint-down(lg) {
    .primary-btn {
        margin-top: 0;
    }
}